<%= form_with model: @genre, local: true do |form| %>
	<% if @genre.errors.any? %>
		<div id="error">
			<h2><%= pluralize(@genre.errors.count, 'error')%> prohibited this game from being saved</h2>
			<ul>
				<%= @genre.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= form.label :name %>
	<%= form.text_field :name %>

	<%= form.submit %>
<% end %>