<%= form_with model: @console, local: true do |form| %>
	
	<% if @console.errors.any? %>
		<div id="error">
			<h2><%= pluralize(@console.errors.count, 'error')%> prohibited this game from being saved</h2>
			<ul>
				<%= @console.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= form.label :name %></br>
	<%= form.text_field :name %></br>

	<%= form.label :price %></br>
	<%= form.number_field :price, step: :any %></br>

	<%= form.label :date_released %></br>
	<%= form.date_select :date_released, :order => [:day,:month,:year] %></br>

	<%= form.label :description %></br>
	<%= form.text_area :description %></br>

	<%= form.label :image %></br>
	<%= form.file_field :image%></br>

	<%= form.submit %>
<% end %>