<h1>Hi</h1>
<ul>
	<li><%= @console.name %></li>
	<li><%= @console.price %></li>
	<li><%= @console.description %></li>
	<li><%= @console.date_released %></li>
</ul>
<%= link_to "back", consoles_url %>