<%= render partial: "common/search" %>
<h1>Nerds Eat Them</h1>
<%= paginate @consoles %>
<% @consoles.each do |console| %>
	<ul id="products">
		<li><%= link_to console.name, console %></li>
		<li><%= image_tag console.image, size: "200" %></li>
		<li><%= console.price %></li>
		<li><%= console.description %></li>
		<li><%= console.date_released %></li>
	</ul>
<%end%>
<%= link_to "new", new_console_url %>