<h1>Hi</h1>
<ul>
	<li><%= @console.name %></li>
	<li><%= image_tag @console.image, size: "200" %></li>
	<li><%= @console.price %></li>
	<li><%= @console.description %></li>
	<li><%= @console.date_released %></li>
</ul>
<%= link_to "back", consoles_url %>
<%= link_to "add to cart", add_console_cart_url %>