<h1>Orders!!!!!</h1>
<ul>
	<% @orders.each do |order| %>
		<li><strong>Order: <%= order.id %></strong></li>
		<li>Grand Total: <%= order.amount %></li>
		<li>User: <%= order.user_id %></li>
		<li>Date: <%= order.created_at %></li>
		<%= link_to "details?", order %>
		<hr>
	<% end %>
</ul>
