<h1>Nerds eat them</h1>
<%= paginate @games %>
<% @games.each do |game| %>
	<ul>
		<li><%= link_to game.name, game %></li>
		<li><%= image_tag game.image, size: "200" %></li>
		<li><%= game.price %></li>
		<li><%= game.description %></li>
		<li><%= game.date_released %></li>
	</ul>
<%end%>
