<h1>New Game!!!</h1>
<%= form_with scope: :game, url: games_url, local: true do |form| %>
	
	<%= form.label :name %></br>
	<%= form.text_field :name %></br>
	
	<%= form.label :price %></br>
	<%= form.number_field :price %></br>
	
	<%= form.label :date_released %></br>
	<%= form.date_select :date_released, :order => [:day,:month,:year] %></br>
	
	<%= form.label :description %></br>
	<%= form.text_area :description %></br>

	<%= form.select :console_id, options_for_select(@consoles.collect {|console| [console.name,console.id]}) %></br>
	
	<%= form.select :genre_id, options_for_select(@genres.collect {|genre| [genre.name,genre.id]}) %></br>
	
	<%= form.submit %>
<% end %>