<h1>HI</h1>
<ul>
	<li><%= @game.name %></li>
	<li><%= image_tag @game.image, size: "200" %></li>
	<li><%= @game.price %></li>
	<li><%= @game.description %></li>
	<li><%= @game.date_released %></li>
</ul>

<%= link_to "back", games_url %>
<%= link_to "add to cart", game_add_shopping_cart_url(@game) %>
