<h1>Checkout!!!</h1>
<%= form_with url: customers_url, local: true do |form| %>
	<h1>Customer Details: </h1>

	<%= form.label :first_name %></br>
	<%= form.text_field "customer[first_name]" %></br>

	<%= form.label :last_name %></br>
	<%= form.text_field "customer[last_name]" %></br>

	<%= form.label :address %></br>
	<%= form.text_field "customer[address]" %></br>

	<%= form.label :postal_code %></br>
	<%= form.text_field "customer[postal_code]" %></br>

	<%= form.label :email %></br>
	<%= form.text_field "customer[email]" %></br>

	<div id="invoice_container">
		<h1>Invoice:</h1>
		<ul id="products">
			<% @shopping_cart.each do |item| %>
				<li><h3><%= item["name"] %></h3></li>
				<li><strong>Price: <%= item["price"] %></strong></li>
				<li><strong>Quantity: <%= item["quantity"]%></strong></li>
				<li><strong>Total: <%= item["price"].to_f * item["quantity"].to_i %></strong></li>
				<hr>
			<% end %>
			<li><strong>SubTotal: <%= @order_summary[:sub_total] %></strong></li>
			<li><strong>Gst Amount: <%= @order_summary[:gst_amount] %></strong></li>
			<li><strong>Pst Amount: <%= @order_summary[:pst_amount] %></strong></li>
			<li><strong>Hst Amount: <%= @order_summary[:hst_amount] %></strong></li>
			<li><strong>Grand Total: <%= @order_summary[:grand_total] %></strong></li>
		</ul>
	</div>

	<article>
		<% if flash[:error].present? %>
			<div id="error_explanation">
				<p><%= flash[:error] %></p>
			</div>
		<% end %>
	</article>
	
	<script src="https://checkout.stripe.com/checkout.js"
		class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
        data-description="product charge" data-amount= "<%= (@order_summary[:grand_total]*100) %>" data-locale="auto"></script>
<% end %>