<h1>Checkout!!!</h1>
<%= form_with url: shopping_cart_index_url, local: true do |form| %>
	<%= form.label :first_name %></br>
	<%= form.text_field :first_name %></br>

	<%= form.label :last_name %></br>
	<%= form.text_field :last_name %></br>

	<%= form.label :address %></br>
	<%= form.text_field :address %></br>

	<%= form.label :postal_code %></br>
	<%= form.text_field :postal_code %></br>

	<%= form.label :email %></br>
	<%= form.text_field :email %></br>

	<div id="invoice_container">
		<h1>Invoice:</h1>
		<ul id="products">
			<% @shopping_cart.each do |item| %>
				<li><h3><%= item["name"] %></h3></li>
				<li><strong>Price: <%= item["price"] %></strong></li>
				<li><strong>Quantity: <%= item["quantity"]%></strong></li>
				<li><strong>Total: <%= item["price"].to_d * item["quantity"].to_i %></strong></li>
				<hr>
			<% end %>
			<li><strong>SubTotal: <%= @order_summary[:sub_total] %></strong></li>
			<li><strong>Gst Amount: <%= @order_summary[:gst_amount] %></strong></li>
			<li><strong>Pst Amount: <%= @order_summary[:pst_amount] %></strong></li>
			<li><strong>Hst Amount: <%= @order_summary[:hst_amount] %></strong></li>
			<li><strong>Grand Total: <%= @order_summary[:grand_total] %></strong></li>
		</ul>
	</div>

	<%= form.submit %>
<% end %>