<header>
	<h1>Nostalgic Geeks</h1>
	<nav id="navbar">
		<ul>
			<li><%= link_to 'home', "/" %> </li>
			<li><%= link_to 'games', games_url %> </li>
			<li><%= link_to 'consoles', consoles_url %></li>
			<li><%= link_to 'genres', genres_url %></li>
			<li><%= link_to 'shopping cart', shopping_cart_url%> </li>
		</ul>
	</nav>
</header>