<header>
	<h1>Nostalgic Geeks</h1>
	<nav>
		<ul>
			<li><%= link_to 'home', "/" %> </li>
			<li><%= link_to 'games', games_url %> </li>
			<li><%= link_to 'consoles', consoles_url %></li>
			<li><%= link_to 'genres', genres_url %></li>
		</ul>
	</nav>
	<%= form_tag "#{request.base_url}#{request.path}", method: 'get' do%>
		<%= text_field_tag 'search', params[:search] %>
		<%= submit_tag "search", name: nil %>
	<%end%>
</header>