<header>
	<h1>Nostalgic Geeks</h1>
	<nav id="navbar">
		<ul>
			<li><%= link_to 'home', "/" %> </li>
			<li><%= link_to 'games', games_url %> </li>
			<li><%= link_to 'consoles', consoles_url %></li>
			<li><%= link_to 'genres', genres_url %></li>
		</ul>
	</nav>
	<%= form_tag "#{request.base_url}#{request.path}", method: 'get' do%>
		<%= text_field_tag 'search', params[:search] %>
		<%= label_tag 'Category', 'Category'%>
		<%= select_tag 'category', options_for_select(@consoles.collect {|console| [console.name,console.id]}), :include_blank => true %>
		<%= submit_tag "search", name: nil %>
	<%end%>
</header>